<table class="table">
    <thead>
        <tr *ngFor="let meta in tableMetadata">
            <th scope="col">
                <input class="form-control" />
                <span *ngIf="meta.visible">{{meta.Title}}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let elementData of data">
            <td *ngFor="let meta of tableMetadata">
                <span *ngIf="meta.visible">{{elementData[meta.path]}}</span>
            </td>
        </tr>
    </tbody>
</table>