<table class="table">
    <thead>
        <tr>
            <th *ngFor="let meta of tableMetadata.columns">
                <input *ngIf="meta.visible" class="form-control" />
                <span *ngIf="meta.visible">{{meta.title}}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let elementData of data">
            <td *ngFor="let meta of tableMetadata.columns">
                <span *ngIf="meta.visible">{{elementData[meta.path]}}</span>
            </td>
        </tr>
    </tbody>
</table>